{% extends 'base.html.twig' %}
{% block title %}Jordan E-commerce - Accueil{% endblock %}

{% block body %}
<div class="row mb-4">
  <div class="col-12">
    <h1 class="text-center mb-4">Collection Jordan</h1>
    <div class="text-center mb-4">
      <a href="#" class="btn btn-primary">Voir la boutique</a>
    </div>
  </div>
</div>
{% endblock %}
